@model IEnumerable<StoreManagement_core.ViewModels.RemoveOldStockViewModel>

<h1>Old Stocks List</h1>
<h3>List of Old Unsold Stocks, their entries from Stock and Product can be removed here</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProdId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProdId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProdId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
