@model StoreManagement_core.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustMemNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustMemNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mem.MemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustAdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustAdd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
