@model IEnumerable<StoreManagement_core.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Customers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustMemNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustAdd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustMemNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mem.MemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustAdd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
